@font-face {
  font-family: "gmarket-sans";
  src: url("/font/GmarketSansBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gmarket-sans";
  src: url("/font/GmarketSansMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gmarket-sans";
  src: url("/font/GmarketSansLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
